---
layout: base
---
<header>
  <h1>Philharmonic</h1>
  <p>A cloud simulator &amp; partial OpenStack manager written in Python.</p>

  <p class="view"><a href="https://github.com/philharmonic/philharmonic">View the Project on GitHub <small>philharmonic/philharmonic</small></a></p>

  <ul>
    <li><a href="https://github.com/philharmonic/philharmonic/archive/master.zip">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/philharmonic/philharmonic/archive/master.tar.gz">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/philharmonic/philharmonic">Fork On <strong>GitHub</strong></a></li>
  </ul>

</header>

<section>

  {{ content }}

</section>

<footer>
  <p>Project maintained by <a href="http://github.com/kermit666" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Dražen Lučanin</a></p>
  <p><small>Hosted on <a href="https://github.com/philharmonic/philharmonic.github.io">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
